input {
  file {
    type => "syslog"
    path => [ "{{ ls_log_path }}/*.log" ]
  }
}

output {
  stdout {
    codec => rubydebug
  }

  elasticsearch {
    hosts => [{{ '\"' + es_hosts | join('\",\"') + '\"' }}]
  }
}
